.footer {
    background-color: #003366;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    font-size: 14px;
    color: #cccccc;
    margin: 2px 0;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    gap: 15px;
    flex-wrap: wrap;
    background-color: white;
    padding: 15px 5px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer-logo {
    height: 110px;
    width: auto;
    max-width: 150px;
    object-fit: contain;
    flex-shrink: 0;
    padding: 5px;
}